@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

        *{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        }
        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }
        .navbar {
            background-color: #0c0a0a;
            padding: 10px 0;
            display: flex;
            align-items: center;
        }
        .container-fluid {
            display: flex; 
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
        }
        .navbar-toggler {
            border: none;
            color: white;
            font-size: 24px;
            margin-left: auto;
        }
        .navbar-toggler-icon {
            filter: invert(1);
        }
        .navbar-brand {
            margin-right: auto;
        }
        .navbar-brand img {
            max-width: 100px;
            margin: 0 0 0 5%;
        }
        .navbar-nav {
            display: flex;
            justify-content: center;
            align-items: center;   
            margin-left: auto;
        }
        .nav-link {
            text-transform: uppercase;
            margin-right: 10px;
            font-size: 20px;
            color: #f0efef;
        }
        .nav-link.active {
            color: #e6e6e6 !important;
            font-weight: bold;
            border-bottom: 2px solid #e6e6e6;
        }
        .nav-link:hover {
            color: #e6e6e6 !important;
            font-weight: bold;
            border-bottom: 2px solid #e6e6e6; 
        }
        
        .title { /*Available Vehicles*/
            text-align: center;
            padding: 25px;
            margin: 50px 0 0 0;
        }
        .card-container {
            padding: 50px 0;
        }
        .card {
            position: relative;
            overflow: hidden;
        }
        .card-image-top {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.6);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.3s ease;
            padding: 10px;
            min-height: 100%;
        }
        .card:hover .overlay {
            opacity: 1;
        }

        @media (max-width: 768px) {
            .overlay {
                padding: 5px;
                min-height: 100%;
            }
        }

        @media (max-width: 480px) {
            .overlay {
                padding: 3px;
                min-height: 100%;
            }
        }

        .overlay .btn {
            background-color: transparent;
            border: transparent;
            font-weight: 700;
        }
        .overlay .btn:active {
            background-color: rgb(206, 206, 206);  /* Change to your preferred color */
            color: white;
        }

        #car-Modal h2,h4,h3,p {
            margin: 0 50px 20px 50px;
        }

        #car-Modal h2 {
            border-bottom: 2px solid #333;
            padding-bottom: 30px;
            margin-bottom: 20px;
        }

        #car-Modal h3 {
            margin-top: 50px;
        }
        #car-Modal p {
            font-size: 15px;
            
        }